nodered/robot-control.json
[{"id":"f548dd47.3ff64","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"658da95b.6dc368","type":"mqtt in","z":"f548dd47.3ff64","name":"","topic":"connection","qos":"2","datatype":"auto","broker":"6e18a99a.0fdca8","x":110,"y":140,"wires":[["395c87f7.dc6a58"]]},{"id":"395c87f7.dc6a58","type":"debug","z":"f548dd47.3ff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":140,"wires":[]},{"id":"b874d2e0.016f9","type":"mqtt out","z":"f548dd47.3ff64","name":"","topic":"diff_speed","qos":"","retain":"","broker":"6e18a99a.0fdca8","x":650,"y":260,"wires":[]},{"id":"e9b259ea.2d6b68","type":"remote-xy in","z":"f548dd47.3ff64","name":"joystick_x","dashboard":"53fdf3a0.f97a6c","index":"0","x":120,"y":240,"wires":[["f8c87e76.6ae56"]]},{"id":"f9368974.1d9da8","type":"remote-xy in","z":"f548dd47.3ff64","name":"joystick_y","dashboard":"53fdf3a0.f97a6c","index":"1","x":120,"y":280,"wires":[["4c8cc35.027da3c"]]},{"id":"ae8de880.01e158","type":"remote-xy in","z":"f548dd47.3ff64","name":"head_slider","dashboard":"53fdf3a0.f97a6c","index":"2","x":130,"y":340,"wires":[["1f0d7a.a5ed1286"]]},{"id":"c777d521.d1c7d8","type":"remote-xy out","z":"f548dd47.3ff64","name":"distance","dashboard":"53fdf3a0.f97a6c","index":"0","x":280,"y":460,"wires":[]},{"id":"a2e4c4b7.ccd378","type":"join","z":"f548dd47.3ff64","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":260,"wires":[["b874d2e0.016f9"]]},{"id":"4c8cc35.027da3c","type":"function","z":"f548dd47.3ff64","name":"","func":"msg.topic = 'linear'\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["a2e4c4b7.ccd378"]]},{"id":"f8c87e76.6ae56","type":"function","z":"f548dd47.3ff64","name":"","func":"msg.topic = 'angular'\nmsg.payload *= -1;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["a2e4c4b7.ccd378"]]},{"id":"1f0d7a.a5ed1286","type":"function","z":"f548dd47.3ff64","name":"","func":"msg.payload /= -10;\nmsg.payload += 10;\nmsg.payload = Math.round(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["d133653.3721998"]]},{"id":"d133653.3721998","type":"mqtt out","z":"f548dd47.3ff64","name":"","topic":"head_dir","qos":"","retain":"","broker":"6e18a99a.0fdca8","x":460,"y":340,"wires":[]},{"id":"4f4b0cca.aacee4","type":"mqtt in","z":"f548dd47.3ff64","name":"","topic":"ultrasound","qos":"2","datatype":"auto","broker":"6e18a99a.0fdca8","x":120,"y":460,"wires":[["c777d521.d1c7d8"]]},{"id":"6e18a99a.0fdca8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"53fdf3a0.f97a6c","type":"remote-xy-dashboard","z":"","name":"walking-bot-remote","port":"6377","config":"/*\n   -- New project --\n   \n   This source code of graphical user interface \n   has been generated automatically by RemoteXY editor.\n   To compile this code using RemoteXY library 2.4.3 or later version \n   download by link http://remotexy.com/en/library/\n   To connect using RemoteXY mobile app by link http://remotexy.com/en/download/                   \n     - for ANDROID 4.5.1 or later version;\n     - for iOS 1.4.1 or later version;\n    \n   This source code is free software; you can redistribute it and/or\n   modify it under the terms of the GNU Lesser General Public\n   License as published by the Free Software Foundation; either\n   version 2.1 of the License, or (at your option) any later version.    \n*/\n\n//////////////////////////////////////////////\n//        RemoteXY include library          //\n//////////////////////////////////////////////\n\n// RemoteXY select connection mode and include library \n#define REMOTEXY_MODE__SOFTSERIAL\n#include <SoftwareSerial.h>\n\n#include <RemoteXY.h>\n\n// RemoteXY connection settings \n#define REMOTEXY_SERIAL_RX 2\n#define REMOTEXY_SERIAL_TX 3\n#define REMOTEXY_SERIAL_SPEED 9600\n\n\n// RemoteXY configurate  \n#pragma pack(push, 1)\nuint8_t RemoteXY_CONF[] =\n  { 255,3,0,11,0,72,0,10,13,0,\n  5,32,50,10,44,44,2,26,31,4,\n  176,5,20,39,6,2,26,129,0,6,\n  12,35,5,17,72,101,97,100,32,100,\n  105,114,101,99,116,105,111,110,0,129,\n  0,6,34,33,5,17,68,105,115,116,\n  97,110,99,101,32,91,99,109,93,0,\n  67,4,6,43,35,5,2,26,11 };\n  \n// this structure defines all the variables and events of your control interface \nstruct {\n\n    // input variables\n  int8_t joystick_x; // =-100..100 x-coordinate joystick position \n  int8_t joystick_y; // =-100..100 y-coordinate joystick position \n  int8_t head_slider; // =-100..100 slider position \n\n    // output variables\n  char distance[11];  // string UTF8 end zero \n\n    // other variable\n  uint8_t connect_flag;  // =1 if wire connected, else =0 \n\n} RemoteXY;\n#pragma pack(pop)\n\n/////////////////////////////////////////////\n//           END RemoteXY include          //\n/////////////////////////////////////////////\n\n\n\nvoid setup() \n{\n  RemoteXY_Init (); \n  \n  \n  // TODO you setup code\n  \n}\n\nvoid loop() \n{ \n  RemoteXY_Handler ();\n  \n  \n  // TODO you loop code\n  // use the RemoteXY structure for data transfer\n  // do not call delay() \n\n\n}"}]